@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@600&family=Shadows+Into+Light&family=Skranji&display=swap');

body{
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0;


    background-image: url('images/background-2.png');
    background-size: cover;
    background-position: center center;
    background-attachment: fixed; 

    color: white;

    font-family: 'Josefin Sans', sans-serif;
    font-size: 1.2rem;
}

html{
    scroll-behavior: smooth;
}


.material-symbols-outlined{
font-variation-settings: 
'FILL' 0,
'wght' 250,
'GRAD' -25,
'opsz' 24;

    transition: .5s;
    cursor: pointer;
}


.material-symbols-outlined.md-34{
    font-size: 50px;

}

.material-symbols-outlined.md-34:hover{
    font-variation-settings: 
    'FILL' 1;
}

.material-symbols-outlined.md-34-home{
    font-size: 50px;
}

.material-symbols-outlined.md-34-home:hover{
    font-variation-settings: 
    'FILL' 1;
}
a {
    text-decoration: none;
    color: white;
    transition: .3s;
}

a.bottom-link:hover{
    background-color: white;
    color: black;
}

i{
    margin: 0;
    padding: 0;
}

img.top-right{
    width: 100px;
    height: 100px;
    object-fit: cover;
    border-radius: 10px;
}

.head-content{
    min-height: 100px;
    max-height: 100px;

    display: flex;

    margin-bottom: 5px;
}

.head-content .title-text {
    flex: 1;

    display:flex;
    justify-content: left;
    align-items: center;

    margin: 10px;
    font-size: 3.5rem;
    font-family: 'Skranji', cursive;
}
.head-content .title-text p{
    display: inline-block;
    margin: 10px;
    
}

.head-content .something-else{
    flex: 1;

    border-radius: 10px;


    display: flex;
    justify-content: right;
    align-items: center;
}


.main-content{
    flex: 10;

    margin-bottom: 5px;

    padding: 10px;
}
.main-content .current-things {
    display: inline-block;
    width: 30vw;
    text-align: center;
    margin: 20px;
    padding: 10px;
    border: solid white 2px;

    font-size: 1.3rem;

    transition: .25s;
}

.main-content .current-things:hover{
    background-color: white;

    color: black;

}
.main-content .current-things ul {
    padding: 0;
    list-style-type:none;
    text-align: left;
}

.main-content .current-things li{
    padding: 10px;
    transition: .3s;
}

.main-content .current-things li:hover {
    background: black;
}

.main-content .current-things li:hover a{
    color: white;
}

.main-content .current-things:hover a{
    color: black;
}


.foot-content{
    min-height: 100px;

    display: flex;
    justify-content: center;
    align-items: center;
}

.foot-content a{
    padding: 10px;
    border: solid white 2px;
    border-radius: 10px;
}